<div class="card mt-2" >
  <div class="card-wrapper">
    <img class="card-img-top" src="{{member.photoUrl || './assets/user.png'}}" alt="Card image cap">
    <ul class="list-inline member-icons animate text-center">
      <li class="list-inline-item">
        <button class="btn btn-danger" routerLink="/members/{{member.userName}}"><i class="fa fa-user"></i></button></li>
      <li class="list-inline-item">
        <button class="btn btn-danger"><i class="fa fa-heart"></i></button></li>
      <li class="list-inline-item">
        <button class="btn btn-danger"><i class="fa fa-envelope"></i></button></li>
    </ul>
  </div>
  
  <div class="card-body">
    <h5 class="card-title">
      {{member.knownAs}}
      <i class="fa fa-user mr-2"></i>
    </h5>
    <p class="text-muted">{{member.city}}</p>
  </div>
</div>