<form [formGroup]="registrationForm" (ngSubmit)="register()"
  class="jumbotron">
  <h1 class="cover-heading">Registration</h1>
  <p class="lead">Fill in form to register.</p>

  <div class="form-check">
    <span class="mr-5">I'm a:</span> 
    <input class="form-check-input mr-5" type="radio" value="male" formControlName="gender">
    <label class="form-check-label mr-5">
      Male
    </label>
    <input class="form-check-input mr-5" type="radio" value="female" formControlName="gender">
    <label class="form-check-label mr-5">
      Female
    </label>
    <input class="form-check-input mr-5" type="radio" value="other" formControlName="gender">
    <label class="form-check-label mr-5">
      Other
    </label>
  </div>

  <app-text-input [formControl]="registrationForm.controls['userName']" [label]="'Username'" ></app-text-input>
  <app-text-input [formControl]="registrationForm.controls['knownAs']" [label]="'Known as'" ></app-text-input>
  <app-date-input [formControl]="registrationForm.controls['dateOfBirth']" [label]="'Date of birth'" [maxDate]="maxDate" ></app-date-input>
  <app-text-input [formControl]="registrationForm.controls['city']" [label]="'City'" ></app-text-input>
  <app-text-input [formControl]="registrationForm.controls['country']" [label]="'Country'" ></app-text-input>
  <app-text-input [formControl]="registrationForm.controls['password']" [label]="'Password'" [type]="'password'" ></app-text-input>
  <app-text-input [formControl]="registrationForm.controls['confirmPassword']" [label]="'Confirm password'" [type]="'password'" ></app-text-input>

  <!-- <div class="form-group form-check">
    <input type="checkbox" class="form-check-input">
    <label class="form-check-label">I have read the terms and condtitions</label>
  </div> -->

  <p class="lead">
    <button class="btn btn-lg btn-danger mr-2" type="submit">Register</button>
    <a class="btn btn-lg btn-outline-danger" (click)="cancel()">Cancel</a>
  </p>
</form>

<p>Form value: {{registrationForm.value | json}}</p>
<p>Form value: {{registrationForm.status | json}}</p>